@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Application.Food.Dto
@model SixMan.ChiMa.Web.Models.PagedResultVM<FoodMaterialCategoryDto>
@{
    ViewBag.CurrentPageName = PageNames.FoodMaterialCategory; //The menu item will be active for this page.
}
@section scripts
{
    @*<script>
        var _categoryService = abp.services.app.foodMaterialCategory;
    </script>*@

    <environment names="Development">
        <script src="~/view-resources/Views/FoodMateriaCategory/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/FoodMateriaCategory/Index.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(function () {
            setCategoryService(abp.services.app.foodMaterialCategory);
        })
    </script>
    
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L(ViewBag.CurrentPageName)
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("Code")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Items)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>@category.Code</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-category" data-category-id="@category.Id" data-toggle="modal" data-target="#categoryEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-category" data-category-id="@category.Id" data-category-name="@category.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#CategoryCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="modal-footer">
                <cs-pager asp-action="Index"
                          asp-controller="FoodMaterialCategory"
                          cs-paging-pagesize="@Model.PageSize"
                          cs-paging-pagenumber="@Model.PageNumber"
                          cs-paging-totalitems="@Model.TotalCount"></cs-pager>
            </div>
        </div>
        
    </div>
</div>
<div class="modal fade" id="CategoryCreateModal" tabindex="-1" role="dialog" aria-labelledby="CategoryCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewCategory")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="categoryCreateForm" role="form" novalidate class="form-validation">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="Name" class="form-control" required maxlength="@CategoryBase.MaxNameLength">
                                            <label class="form-label">@L("CategoryName")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="Code" class="form-control" required maxlength="@CategoryBase.MaxNameLength">
                                            <label class="form-label">@L("CategoryCode")</label>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="categoryEditModal" tabindex="-1" role="dialog" aria-labelledby="CategoryEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>